@model List<USDA.ARS.GRIN.Admin.Models.Taxonomy.Folder>

@if (Model.Count() == 0)
{
    <div class="callout callout-info" style="vertical-align:middle; margin-top:20px;">
        @*<img src="~/Content/img/info.png" style="margin:0px;" />*@
        You currently have no folders.
    </div>
}
else
{
<div class="row">
    @foreach (var folder in Model)
    {
        <div class="col-md-4">
            <div class="info-box">
                <span class="info-box-icon bg-gray"><i class="fa fa-folder-open"></i></span>
                <div class="info-box-content" style="padding-bottom:1px;">
                    <span class="info-box-text">@folder.Title</span>
                    <a href="@Url.Action("FolderEdit","Taxonomy", new { id = folder.ID })"><span class="info-box-number">@folder.TotalItems<small> items</small></span></a>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    }
</div>
}





