@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.GeographySearchViewModel

<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Continents</h3>
    </div>
</div>
<div class="box-body">
</div>
            </div>
<div class="row">
    <div class="col-md-3">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Regions</h3>

                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">States/Provinces</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">

            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Countries</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div style="border: 1px solid #ebebeb; padding:.5em; margin-bottom:.5em;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Continent</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>

                <div style="border: 1px solid #ebebeb; padding:.5em; margin-bottom:.5em;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Continent</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>

                <div style="border: 1px solid #ebebeb; padding:.5em; margin-bottom:.5em;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Continent</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>





            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>