<div class="row">
    <div class="col-md-3">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Continents</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Africa</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Antarctic</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Asia-Temperate</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Asia-Tropical</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Austailasia</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Europe</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>

                </ul>




                        @*<div style="border: 1px solid #ebebeb; padding:.5em; margin-bottom:.5em;">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Africa</h4>
                                </div>
                                <div class="col-md-8">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>*@
                                



               

              

               





            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Regions</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">East Tropical Africa</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Macronesia</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Middle Atlantic Ocean</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Africa</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Africa</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>


                   
                </ul>




                @*<div style="border: 1px solid #ebebeb; padding:.5em; margin-bottom:.5em;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Africa</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>*@














            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Countries</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div style="border: 1px solid #ebebeb; padding:.5em; margin-bottom:.5em;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Continent</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>

                <div style="border: 1px solid #ebebeb; padding:.5em; margin-bottom:.5em;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Continent</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>

                <div style="border: 1px solid #ebebeb; padding:.5em; margin-bottom:.5em;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Continent</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>

                <div style="border: 1px solid #ebebeb; padding:.5em; margin-bottom:.5em;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Continent</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>





            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-info box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Continents</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Africa</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Africa</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Africa</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Africa</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em;">Africa</span>
                            <span class="pull-right"><input type="checkbox" style="font-size:1.3em;" /></span>
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            <span style="font-size:1.3em;"><i class="fa fa-globe"></i>&nbsp;Antarctic</span>
                            <span class="pull-right">
                                <span class="btn-group pull-right">
                                    <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.5em;"><i class="fa fa-globe"></i>&nbsp;Asia-Temperate</span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.5em;"><i class="fa fa-globe"></i>&nbsp;Asia-Tropical</span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-size:1.5em;"><i class="fa fa-globe"></i>&nbsp;Asia</span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    <li>
                        <a href="#">
                            <span style="font-size:1.5em;"><i class="fa fa-globe"></i>&nbsp;Asia</span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>
                    </li>
                </ul>




                @*<div style="border: 1px solid #ebebeb; padding:.5em; margin-bottom:.5em;">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Africa</h4>
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                            </div>

                        </div>
                    </div>
                </div>*@














            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Species ID</th>
            </tr>
        </thead>
    </table>
</div>