@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.SiteManagement.CGCDocumentSearchViewModel 
<div style="margin-top:15px;">
    <div class="mailbox-controls">
        <button type="button" class="btn btn-success btn-sm check-all-search-results">
            <i class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm uncheck-all-search-results">
            <i class="fa fa-check-circle-o"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm">
            <i class="fa fa-document"></i>Add New Document
        </button>
        <div class="pull-right">
            <button type="button" disabled class="btn btn-default btn-sm">
                Export
            </button>
        </div>
    </div>
    <div class="table-responsive mailbox-messages">
        <h2>TEST</h2>
    </div>
</div>
