@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.UserApplicationsViewModel

<div class="col-md-12">

</div>

@foreach (var application in Model.Applications)
{
    if (application.IsAuthorized)
    {
        <div class="info-box">
            <span class="info-box-icon bg-blue-active"><i class="fa fa-gears"></i></span>
            <div class="info-box-content">
                <span class="info-box-number">
                    @if (application.IsAuthorized)
                    {
                        <a href="@Url.Action("LoadApplication", "Home", new { appContext = application.URL })">@application.Title</a>
                    }
                    else
                    {
                        <!--TODO: ADD REQUEST LOGIC?-->
                        @application.Title <button class="btn btn-sm">Request Access</button>
                    }
                </span>
                <span class="info-box-text">@application.Description</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    }
}


