@model IQueryable<USDA.ARS.GRIN.Admin.Models.Species>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var species in Model)
        {
            <tr>
                <td><span class="label label-default">@species.ID</span></td>
                <td>@species.SpeciesName</td>
                <td><button id="btnAuthor1" value="@species.SpeciesName" class="btn btn-primary btn-small proto" onclick="SelectSpecies(@species.ID, this.value);return false;">Select</button></td>
            </tr>
        }
    </tbody>
</table>
