@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.GRINGlobal.WebOrderRequestSearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #web-order-request-id {
        font-weight:bold;
    }
</style>

<div class="box box-primary" style="padding:10px;">
    <div class="box-header with-border">
        <h3 class="box-title">Web Orders</h3>
        <input type="hidden" id="hidden-web-order-request-id" />
        <input type="hidden" id="hidden-web-cooperator-id" />
        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div id="section-data">

        </div>
    </div>
</div>

<div id="modal-approve" class="modal modal-success fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Approve Web Order <span id="web-order-request-id"></span></h4>
            </div>
            <div class="modal-body" id="modal-body">
                <h5>This will approve this order for further processing by the designated site. Please enter any desired order action notes in the field below.</h5>
                <textarea id="txtApprovalNote" class="form-control" rows="5">
                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-approve-order" class="btn btn-outline" data-dismiss="modal">Continue</button>
                <button type="button" id="btn-approve-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-deny" class="modal modal-danger" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Deny Web Order <span id="web-order-request-id"></span></h4>
            </div>
            <div class="modal-body" id="modal-body">
                <h5>This will flag this order and its requestor as NRR.</h5>
                <textarea id="txtRejectionNote" class="form-control" rows="5">
                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-deny-order" class="btn btn-outline" data-dismiss="modal">Continue</button>
                <button type="button" id="btn-deny-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        var link = '@Url.Action("_List", "WebOrder")';

        alert("DEBUG " + link);

        $("#section-data").load(link);
    });

    $(document).on("click", ".open-modal", function () {
        var id = $(this).attr('id');
        var idValues = id.split('-');

        var buttonName = idValues[0];
        var webOrderRequestId = idValues[1];
        var webCooperatorId = idValues[2];

        $("#hidden-web-order-request-id").val(webOrderRequestId);
        $("#hidden-web-cooperator-id").val(webCooperatorId);
        $("#web-order-request-id").html(webOrderRequestId);

        if (buttonName == "btnApprove") {
            var myHeading = "<p>Approve Web Order " + webOrderRequestId + "</p>";
            $('#modal-approve').modal('show');
        }
        else {
            var myHeading = "<p>Deny Web Order " + webOrderRequestId + "</p>";
            $('#modal-deny').modal('show');
        }
    });

    $("#btn-deny-order").click(function () {
        Update("Deny");
    });

    $("#btn-approve-order").click(function () {
        Update("Approve");
    });

    function Update(status)
    {
        var webOrderRequestId = $("#hidden-web-order-request-id").val();
        var webCooperatorId = $("#hidden-web-cooperator-id").val();
        var approvalNote = $("#txtApprovalNote").val();

        $.ajax(
            {
                type: 'POST',
                url: '/WebOrder/Update',
                data: { webOrderRequestId: webOrderRequestId, webCooperatorId: webCooperatorId, statusCode: status, actionNote: approvalNote },
                success:
                    function (response) {
                        //alert("DEBUG WORKED");
                        $("#section-data").html(response);
                    },
                error:
                    function (response) {
                        alert("Error: " + response);
                    }
            });  
    }

</script>