@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.GRINGlobal.WebOrderRequestSearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #web-order-request-id {
        font-weight: bold;
    }
   
</style>

<div class="row">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Order Status</h3>

                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
               
                    @foreach (var status in Model.Statuses)
                    {
                    <li class="active">
                        <a href="" id="@status.Name">
                            <i class="fa fa-leaf"></i>@status.Name
                            <span class="label label-danger pull-right">@status.ID</span>
                        </a>
                    </li>
                    }
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Time Frame</h3>

                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i>Today</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> This Week</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> This Month</a></li>
                </ul>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <div class="col-md-9">

        <div class="box box-primary" style="padding:10px;">
            <div class="box-header with-border">
                <h3 class="box-title">Web Orders</h3>
                <input type="hidden" id="hidden-web-order-request-id" />
                <input type="hidden" id="hidden-web-cooperator-id" />
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active" style="background-color:#ebebeb;">
                            <a href="#tab_1" id="tab-my-crops" title="CropForCWRListByUser" class="selector-tab" data-toggle="tab" aria-expanded="true">My Records</a>
                        </li>
                        <li class="" style="background-color:#ebebeb;">
                            <a href="#tab_2" id="tab-recently-added" title="CropForCWRListRecent" class="selector-tab" data-toggle="tab" aria-expanded="false">Pending Review</a>
                        </li>
                        <li class="" style="background-color:#ebebeb;">
                            <a href="#tab_3" id="tab-search" title="" class="selector-tab" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="tab_1">

                        </div>
                        <div class="tab-pane" id="tab_2">
                        </div>
                        <div class="tab-pane" id="tab_3">
                        </div>
                    </div>
                </div>
                @*<p style="font-size:1.3em;">
                    <span class="label label-default">UI Design</span>
                    <span class="label label-default">Coding</span>
                    <span class="label label-default">Javascript</span>
                    <span class="label label-default">PHP</span>
                    <span class="label label-default">Node.js</span>
                </p>*@
                <div id="section-data">

                </div>

            </div>
        </div>

    </div>
</div>

<div id="modal-approve" class="modal modal-success fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Approve Web Order <span id="web-order-request-id"></span></h4>
            </div>
            <div class="modal-body" id="modal-body">
                <h5>This will approve this order for further processing by the designated site. Please enter any desired order action notes in the field below.</h5>
                <textarea id="txtApprovalNote" class="form-control" rows="5">
                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-approve-order" class="btn btn-outline" data-dismiss="modal">Continue</button>
                <button type="button" id="btn-approve-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-deny" class="modal modal-danger" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Deny Web Order <span id="web-order-request-id"></span></h4>
            </div>
            <div class="modal-body" id="modal-body">
                <h5>This will flag this order and its requestor as NRR. Below is the email that the system will send to the requestor.</h5>
                <textarea id="txtDenyNote" class="form-control" rows="15">
                   Dear << NAME >>
                   We are unable to process your request for the following reasons:
                   [] REASON 1
                   [] REASON 2
                   Skeptically Yours,
                   The USDA
                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-deny-order" class="btn btn-outline" data-dismiss="modal">Continue</button>
                <button type="button" id="btn-deny-cancel" class="btn btn-outline" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).on({
        ajaxStart: function () {
            $("body").addClass("loading");
        },
        ajaxStop: function () {
            $(".overlay").hide();
        }
    });
   
    $(document).ready(function () {
        var link = '@Url.Action("_List", "WebOrder")';
        //$("#section-data").load(link);

        $.ajax(
            {
                type: 'POST',
                url: link,
                success:
                    function (response) {
                        $("#section-data").html(response);
                    },
                error:
                    function (response) {
                        console.log(response);
                    }
            });

    });

    $(document).on("click", ".open-modal", function () {
        var id = $(this).attr('id');
        var idValues = id.split('-');

        var buttonName = idValues[0];
        var webOrderRequestId = idValues[1];
        var webCooperatorId = idValues[2];

        $("#hidden-web-order-request-id").val(webOrderRequestId);
        $("#hidden-web-cooperator-id").val(webCooperatorId);
        $("#web-order-request-id").html(webOrderRequestId);

        if (buttonName == "btnApprove") {
            var myHeading = "<p>Approve Web Order " + webOrderRequestId + "</p>";
            $('#modal-approve').modal('show');
        }
        else {
            var myHeading = "<p>Deny Web Order " + webOrderRequestId + "</p>";
            $('#modal-deny').modal('show');
        }
    });

    $("#filterByStatusNRR").click(function () {
        $.ajax(
            {
                type: 'POST',
                url: link,
                success:
                    function (response) {
                        $("#section-data").html(response);
                    },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
    });

    function Update(status)
    {
        var webOrderRequestId = $("#hidden-web-order-request-id").val();
        var webCooperatorId = $("#hidden-web-cooperator-id").val();
        var note = '';

        if (status == 'NRR_APPROVE') {
            note = $("#txtApprovalNote").val();
        }
        else {
            note = $("#txtDenyNote").val();
        }

        $.ajax(
            {
                type: 'POST',
                url: '/WebOrder/Update',
                data: { webOrderRequestId: webOrderRequestId, webCooperatorId: webCooperatorId, statusCode: status, actionNote: note },
                success:
                    function (response) {
                        $("#section-data").html(response);
                    },
                error:
                    function (response) {
                        alert("Error: " + response);
                    }
            });
    }

</script>