<div class="jumbotron grin-global">
    <div class="row">
        <div class="col-md-2">
            <img src="https://npgsweb.ars-grin.gov/gringlobal/images/GGlogo-color-sm.gif" style="margin-right:0px; padding-right:0px; width:130px; height:130px;" />
        </div>
        <div class="col-md-10">
            <h1 style="padding:0px; margin:0px;">GRIN-Global API</h1>
            <p class="lead">Version 1.0.0 Beta</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Obtain an authorization token and login credentials.</p>
        <p><a class="btn btn-primary disabled" href="https://go.microsoft.com/fwlink/?LinkId=301870">Register</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>A guide to all API method calls and their parameters.</p>
        <p>@Html.ActionLink("Learn More", "Index", "Help", new { area = "" }, new { @class="btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Version History</h2>
        <p>A list of all published versions of the API, and major and minor revisions of each.</p>
        <p><a class="btn btn-primary disabled" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more</a></p>
    </div>
</div>
