USE [gringlobal]
GO
/****** Object:  View [dbo].[vw_taxonomy_trait_classes]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_taxonomy_trait_classes]
GO
/****** Object:  View [dbo].[vw_taxonomy_genepools]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_taxonomy_genepools]
GO
/****** Object:  View [dbo].[vw_taxonomy_genepool_codes]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_taxonomy_genepool_codes]
GO
/****** Object:  View [dbo].[vw_taxonomy_breeding_types]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_taxonomy_breeding_types]
GO
/****** Object:  View [dbo].[vw_table_fields]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_table_fields]
GO
/****** Object:  View [dbo].[vw_sys_table_fields]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_sys_table_fields]
GO
/****** Object:  View [dbo].[vw_sys_application]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_sys_application]
GO
/****** Object:  View [dbo].[vw_pvp_applications_by_expiration]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_pvp_applications_by_expiration]
GO
/****** Object:  View [dbo].[vw_pvp_application_accession_map]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_pvp_application_accession_map]
GO
/****** Object:  View [dbo].[vw_accession_ipr]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_accession_ipr]
GO
/****** Object:  View [dbo].[vw_accession_inventory_attachments_by_validation]    Script Date: 9/17/2020 4:15:38 PM ******/
DROP VIEW IF EXISTS [dbo].[vw_accession_inventory_attachments_by_validation]
GO
/****** Object:  View [dbo].[vw_accession_inventory_attachments_by_validation]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_accession_inventory_attachments_by_validation]
AS
(
SELECT 
		aia.accession_inv_attach_id,        
		REPLACE(virtual_path,'https:/npgsweb.ars-grin.gov/gringlobal/uploads/images/npgs','') AS virtual_path,
		REPLACE(thumbnail_virtual_path,'https:/npgsweb.ars-grin.gov/gringlobal/uploads/images/npgs','') AS thumbnail_virtual_path,
		title,
		aia.owned_by,
		aia.created_date,
		aiav.image_url_is_valid,
	    aiav.image_thumbnail_url_is_valid,
		aiav.created_date AS validated_date,
		CASE
			WHEN aiav.created_date IS NULL THEN 'NV'
			WHEN (aiav.image_url_is_valid = 1) AND (aiav.image_thumbnail_url_is_valid = 1) THEN 'VL'
			WHEN (aiav.image_url_is_valid = 2) OR (aiav.image_thumbnail_url_is_valid = 2) THEN 'ER' 
		END AS status_code,
		
		CASE
			WHEN aiav.created_date IS NULL THEN 'Not Validated'
			WHEN (aiav.image_url_is_valid = 1) AND (aiav.image_thumbnail_url_is_valid = 1) THEN 'Validated' 
			WHEN (aiav.image_url_is_valid = 2) OR (aiav.image_thumbnail_url_is_valid = 2) THEN 'Error' 
		END AS status_code_desc
	FROM 
		accession_inv_attach aia
	LEFT OUTER JOIN
		accession_inv_attach_validation aiav
	ON
		aia.accession_inv_attach_id = aiav.accession_inv_attach_id
)
GO
/****** Object:  View [dbo].[vw_accession_ipr]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_accession_ipr]
AS
SELECT 
	TRY_PARSE(substring(ipr_number,5,20) AS INT) AS pv_number,
	accession_id
FROM 
	accession_ipr ai
WHERE
	ai.type_code = 'PVP'  
AND 
	ipr_number not like '%MP'
AND 
	ipr_number not like '%FP'
AND 
	ipr_number not like '%P1'
AND 
	ipr_number not like '%P2'
AND 
	ipr_number not like '%P3'
AND 
	dbo.get_avstat(ai.accession_id) = 'Y'
AND
	TRY_PARSE(substring(ipr_number,5,20) AS INT) IS NOT NULL
GO
/****** Object:  View [dbo].[vw_pvp_application_accession_map]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_pvp_application_accession_map]
AS
SELECT  
	pa.pvp_application_number,
	ai.ipr_number,
	ai.accession_ipr_id,
	ai.accession_id
FROM
	pvp_application pa
JOIN
	accession_ipr ai
ON
	pa.pvp_application_number = cast(substring(ipr_number,5,20) as int)
WHERE type_code = 'PVP'  
	and ipr_number not like '%MP'
    and ipr_number not like '%FP'
	and ipr_number not like '%P1'
	and ipr_number not like '%P2'
	and ipr_number not like '%P3'
	and dbo.get_avstat(ai.accession_id) = 'Y'

--,cast(substring(ipr_number,5,20) as int) AS pv_number
--,[accession_ipr_id]
--      ,ai.accession_id
--      ,[type_code]
--      ,[ipr_number]
--      ,[ipr_crop_name]
--      ,[ipr_full_name]
--      ,[issued_date]
--      ,[expired_date]
--      ,[cooperator_id]
--      --,[note]
--      ,[accepted_date]
--      ,[expected_date]
--      --,[created_date]
--      --,[created_by]
--      --,[modified_date]
--      --,[modified_by]
--      --,[owned_date]
--      --,[owned_by]
--  FROM [gringlobal].[dbo].[accession_ipr] ai
--  JOIN
--	accession a
--	ON 
--	ai.accession_id = a.accession_id
--	LEFT JOIN
--	pvp_application pa
--ON
--	pa.pvp_application_number = cast(substring(ipr_number,5,20) as int)
--  WHERE type_code = 'PVP'  
--	and ipr_number not like '%MP'
--    and ipr_number not like '%FP'
--	and ipr_number not like '%P1'
--	and ipr_number not like '%P2'
--	and ipr_number not like '%P3'
GO
/****** Object:  View [dbo].[vw_pvp_applications_by_expiration]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_pvp_applications_by_expiration]
AS
	SELECT 
		1 AS sort_order,
	'Expiring Within 6 Months' AS category
	,[pvp_application_number]
    ,[cultivar_name]
    ,[experimental_name]
    ,pa.pvp_common_name_id
	,pc.name AS common_name
   ,scientific_name
     ,pa.pvp_applicant_id
	 ,papp.name AS applicant_name
     ,[application_date]
     ,[is_certified_seed]
     ,pas.pvp_application_status_id
	 ,pas.description AS application_status
     ,[status_date]
     ,[certificate_issued_date]
     ,[years_protected]
	 ,convert(nvarchar(12),dateadd(year,years_protected,cast(certificate_issued_date as date)),101) AS expiration_date
	 ,DATEDIFF(month,GETDATE(),convert(nvarchar(12),dateadd(year,years_protected,cast(certificate_issued_date as date)),101))  AS months_remaining
	FROM 
		[gringlobal].[dbo].[pvp_application] pa
	JOIN
		pvp_common_name pc
	ON
		pa.pvp_common_name_id = pc.pvp_common_name_id
	JOIN
		pvp_application_status pas
	ON
		pa.pvp_application_status_id = pas.pvp_application_status_id
	JOIN
		pvp_applicant papp
	ON
		pa.pvp_applicant_id = papp.pvp_applicant_id
	WHERE
	  certificate_issued_date IS NOT NULL
	AND
		pa.pvp_application_status_id = 18
	AND		
		convert(nvarchar(12),dateadd(year,years_protected,cast(certificate_issued_date as date)),101) >= GETDATE()
	AND
		DATEDIFF(month,GETDATE(),convert(nvarchar(12),dateadd(year,years_protected,cast(certificate_issued_date as date)),101)) <=6

		UNION

		SELECT 
		2 AS sort_order,
	'Expiring Within 1 Year' AS category
	,[pvp_application_number]
    ,[cultivar_name]
    ,[experimental_name]
    ,pa.pvp_common_name_id
	,pc.name AS common_name
     ,pa.scientific_name
     ,pa.pvp_applicant_id
	 ,papp.name AS applicant_name
     ,[application_date]
     ,[is_certified_seed]
     ,pas.pvp_application_status_id
	 ,pas.description AS application_status
     ,[status_date]
     ,[certificate_issued_date]
     ,[years_protected]
	 ,convert(nvarchar(12),dateadd(year,years_protected,cast(certificate_issued_date as date)),101) AS expiration_date
	 ,DATEDIFF(month,GETDATE(),convert(nvarchar(12),dateadd(year,years_protected,cast(certificate_issued_date as date)),101)) AS months_remaining
	FROM 
		[gringlobal].[dbo].[pvp_application] pa
	JOIN
		pvp_common_name pc
	ON
		pa.pvp_common_name_id = pc.pvp_common_name_id
	JOIN
		pvp_application_status pas
	ON
		pa.pvp_application_status_id = pas.pvp_application_status_id
	JOIN
		pvp_applicant papp
	ON
		pa.pvp_applicant_id = papp.pvp_applicant_id
	WHERE
	  certificate_issued_date IS NOT NULL
	AND
		pa.pvp_application_status_id = 18
	AND		
		convert(nvarchar(12),dateadd(year,years_protected,cast(certificate_issued_date as date)),101) >= GETDATE()
	AND
		DATEDIFF(month,GETDATE(),convert(nvarchar(12),dateadd(year,years_protected,cast(certificate_issued_date as date)),101)) <=12
GO
/****** Object:  View [dbo].[vw_sys_application]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_sys_application]
AS
SELECT
		sys_application_id,
		sg.sys_group_id,
		sg.group_tag,
		code,
		title,
		description,
		url,
		color_code,
		image_file_name
	FROM
		sys_application sa
	JOIN
		sys_group sg
	ON
		sa.sys_group_id = sg.sys_group_id
	
GO
/****** Object:  View [dbo].[vw_sys_table_fields]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_sys_table_fields]
AS
SELECT table_name, field_name, field_type, field_purpose FROM sys_table st
JOIN
sys_table_field stf
ON
st.sys_table_id = stf.sys_table_id
WHERE table_name LIKE 'taxonomy%'

GO
/****** Object:  View [dbo].[vw_table_fields]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
CREATE VIEW [dbo].[vw_table_fields]
AS
SELECT 
	st.sys_table_id,
    table_name,
	stf.field_name,
	stfl.title,
	REPLACE(title, ' ', '') AS formatted_title
FROM
	sys_table st
JOIN
	sys_table_field stf
ON
	st.sys_table_id = stf.sys_table_id
JOIN
	sys_table_field_lang stfl
ON
	stf.sys_table_field_id = stfl.sys_table_field_id
WHERE
	table_name LIKE 'taxonomy%'
AND
	stfl.sys_lang_id = 1
GO
/****** Object:  View [dbo].[vw_taxonomy_breeding_types]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_taxonomy_breeding_types]
AS
	SELECT  
		cv.code_value_id,
		group_name,
		value,
		cvl.title,
		cvl.description
	FROM 
		code_value cv
	JOIN
		code_value_Lang cvl
	ON
		cv.code_value_id = cvl.code_value_id
	WHERE 
	   group_name = 'CWR_BREEDING_TYPE'
	AND
		cvl.sys_lang_id = 1
	
GO
/****** Object:  View [dbo].[vw_taxonomy_genepool_codes]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_taxonomy_genepool_codes]
AS

	SELECT  
		cv.code_value_id,
		group_name,
		value,
		cvl.title,
		cvl.description
	FROM 
		code_value cv
	JOIN
		code_value_Lang cvl
	ON
		cv.code_value_id = cvl.code_value_id
	WHERE 
	   group_name = 'CWR_GENEPOOL'
	AND
		cvl.sys_lang_id = 1
	
GO
/****** Object:  View [dbo].[vw_taxonomy_genepools]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_taxonomy_genepools]
AS
	SELECT  
		cv.code_value_id,
		group_name,
		value,
		cvl.title,
		cvl.description
	FROM 
		code_value cv
	JOIN
		code_value_Lang cvl
	ON
		cv.code_value_id = cvl.code_value_id
	WHERE 
		--group_name LIKE '%CWR%'
	 group_name = 'CWR_GENEPOOL'
	AND
		cvl.sys_lang_id = 1
	
GO
/****** Object:  View [dbo].[vw_taxonomy_trait_classes]    Script Date: 9/17/2020 4:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_taxonomy_trait_classes]
AS
SELECT  
		cv.code_value_id,
		group_name,
		value,
		cvl.title,
		cvl.description
	FROM 
		code_value cv
	JOIN
		code_value_Lang cvl
	ON
		cv.code_value_id = cvl.code_value_id
	WHERE 
	   group_name = 'CWR_TRAIT_CLASS'
	AND
		cvl.sys_lang_id = 1
GO
