USE [training]
GO
/****** Object:  Table [dbo].[sys_db_error]    Script Date: 4/8/2021 1:21:15 PM ******/
DROP TABLE IF EXISTS [dbo].[sys_db_error]
GO
/****** Object:  Table [dbo].[sys_application]    Script Date: 4/8/2021 1:21:15 PM ******/
DROP TABLE IF EXISTS [dbo].[sys_application]
GO
/****** Object:  Table [dbo].[sys_application]    Script Date: 4/8/2021 1:21:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_application](
	[sys_application_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[title] [nvarchar](120) NOT NULL,
	[description] [nvarchar](500) NULL,
	[url] [nvarchar](2000) NULL,
	[color_code] [nvarchar](20) NULL,
	[application_icon] nvarchar(50) NULL,
	[image_file_name] [nvarchar](500) NULL,
	[sys_group_id] [int] NULL,
 CONSTRAINT [PK_sys_application] PRIMARY KEY CLUSTERED 
(
	[sys_application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_db_error]    Script Date: 4/8/2021 1:21:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[sys_db_error](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[ErrorNumber] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorLine] [int] NULL,
	[ErrorProcedure] [varchar](max) NULL,
	[ErrorMessage] [varchar](max) NULL,
	[ErrorDateTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[email_template]') AND type in (N'U'))
ALTER TABLE [dbo].[email_template] DROP CONSTRAINT IF EXISTS [fk_et_owned]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[email_template]') AND type in (N'U'))
ALTER TABLE [dbo].[email_template] DROP CONSTRAINT IF EXISTS [fk_et_modified]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[email_template]') AND type in (N'U'))
ALTER TABLE [dbo].[email_template] DROP CONSTRAINT IF EXISTS [fk_et_created]
GO
/****** Object:  Table [dbo].[email_template]    Script Date: 7/28/2021 11:29:18 PM ******/
DROP TABLE IF EXISTS [dbo].[email_template]
GO
/****** Object:  Table [dbo].[email_template]    Script Date: 7/28/2021 11:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_template](
	[email_template_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](120) NULL,
	[category_code] [nvarchar](3) NULL,
	[email_from] [nvarchar](200) NULL,
	[email_to] [nvarchar](1000) NULL,
	[email_cc] [nvarchar](1000) NULL,
	[email_bcc] [nvarchar](1000) NULL,
	[email_reply_to] [nvarchar](200) NULL,
	[subject] [nvarchar](500) NULL,
	[body] [nvarchar](max) NULL,
	[is_html] [nvarchar](1) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
	[modified_date] [datetime2](7) NULL,
	[modified_by] [int] NULL,
	[owned_date] [datetime2](7) NOT NULL,
	[owned_by] [int] NOT NULL,
 CONSTRAINT [PK_email_template] PRIMARY KEY CLUSTERED 
(
	[email_template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[email_template] ON 
GO
SET IDENTITY_INSERT [dbo].[email_template] OFF
GO
ALTER TABLE [dbo].[email_template]  WITH CHECK ADD  CONSTRAINT [fk_et_created] FOREIGN KEY([created_by])
REFERENCES [dbo].[cooperator] ([cooperator_id])
GO
ALTER TABLE [dbo].[email_template] CHECK CONSTRAINT [fk_et_created]
GO
ALTER TABLE [dbo].[email_template]  WITH CHECK ADD  CONSTRAINT [fk_et_modified] FOREIGN KEY([modified_by])
REFERENCES [dbo].[cooperator] ([cooperator_id])
GO
ALTER TABLE [dbo].[email_template] CHECK CONSTRAINT [fk_et_modified]
GO
ALTER TABLE [dbo].[email_template]  WITH CHECK ADD  CONSTRAINT [fk_et_owned] FOREIGN KEY([owned_by])
REFERENCES [dbo].[cooperator] ([cooperator_id])
GO
ALTER TABLE [dbo].[email_template] CHECK CONSTRAINT [fk_et_owned]
GO

