USE [gringlobal]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysUserGroups_Select]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysUserGroups_Select]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysUser_Select]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysUser_Select]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysUser_Search]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysUser_Search]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysUser_Insert]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysUser_Insert]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysUser_Copy]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysUser_Copy]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysGroup_Insert]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysGroup_Insert]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysEmailTemplates_Select]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysEmailTemplates_Select]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysEmailTemplate_Update]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysEmailTemplate_Update]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysEmailTemplate_Select]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysEmailTemplate_Select]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysEmailTemplate_Search]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysEmailTemplate_Search]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysEmailTemplate_Insert]    Script Date: 8/6/2021 10:56:29 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_SysEmailTemplate_Insert]
GO
/****** Object:  StoredProcedure [dbo].[usp_SysEmailTemplate_Insert]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================================
-- Author		: Benjamin Haag
-- Create Date  : 6/17/2021
-- Description  : Returns a list of all existing email templates.
-- Parameters    
--                Name          Description
--                ====          ===========
--
-- Remarks      :
-- ========================================================================
CREATE PROCEDURE [dbo].[usp_SysEmailTemplate_Insert]
	@title nvarchar(120),
	@category_code nvarchar(3),
	@email_from nvarchar(200),
	@email_to nvarchar(1000),
	@email_cc nvarchar(1000),
	@email_bcc nvarchar(1000),
	@email_reply_to nvarchar(200),
	@subject nvarchar(500),
	@body nvarchar(max),
	@is_html nvarchar(1),
	@created_date datetime2(7),
	@created_by int,
	@modified_date datetime2(7),
	@modified_by int,
	@owned_date datetime2(7),
	@owned_by int
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @ADMIN_COOPERATOR_ID INT = 48
	BEGIN TRY
		INSERT INTO
			email_template 
			(title,
			category_code,
			email_from,
			email_to,
			email_cc,
			email_bcc,
			email_reply_to,
			subject,
			body,
			is_html,
			created_date,
			created_by,
			owned_date,
			owned_by)
		VALUES
			(@title,
			@category_code,
			@email_from,
			@email_to,
			@email_cc,
			@email_bcc,
			@email_reply_to,
			@subject,
			@body,
			@is_html,
			GETDATE(),
			@ADMIN_COOPERATOR_ID,
			GETDATE(),
			@ADMIN_COOPERATOR_ID)
	END TRY
	BEGIN CATCH
		INSERT INTO 
			dbo.sys_db_error
		VALUES
		  (SUSER_SNAME(),
		   ERROR_NUMBER(),
		   ERROR_STATE(),
		   ERROR_SEVERITY(),
		   ERROR_LINE(),
		   ERROR_PROCEDURE(),
		   ERROR_MESSAGE(),
		   GETDATE());
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SysEmailTemplate_Search]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================================
-- Author		: Benjamin Haag
-- Create Date  : 6/17/2021
-- Description  : Returns a list of all existing email templates.
-- Parameters    
--                Name          Description
--                ====          ===========
--
-- Remarks      :
CREATE PROCEDURE [dbo].[usp_SysEmailTemplate_Search]
	@category_code NVARCHAR(3)
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SELECT 
			email_template_id,
			title,
			category_code,
			email_from,
			email_to,
			email_cc,
			email_bcc,
			email_reply_to,
			subject,
			body,
			is_html,
			created_date,
			created_by,
			(SELECT first_name + ' ' + last_name FROM cooperator WHERE cooperator_id = et.created_by) AS created_by_name,
			modified_date,
			modified_by,
			(SELECT first_name + ' ' + last_name FROM cooperator WHERE cooperator_id = et.modified_by) AS modified_by_name,
			owned_date,
			owned_by
		FROM 
			email_template et
		WHERE
			category_code = @category_code
	END TRY
	BEGIN CATCH
		INSERT INTO 
			dbo.sys_db_error
		VALUES
		  (SUSER_SNAME(),
		   ERROR_NUMBER(),
		   ERROR_STATE(),
		   ERROR_SEVERITY(),
		   ERROR_LINE(),
		   ERROR_PROCEDURE(),
		   ERROR_MESSAGE(),
		   GETDATE());
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SysEmailTemplate_Select]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================================
-- Author		: Benjamin Haag
-- Create Date  : 6/17/2021
-- Description  : Returns a list of all existing email templates.
-- Parameters    
--                Name          Description
--                ====          ===========
--
-- Remarks      :
-- ========================================================================
CREATE PROCEDURE [dbo].[usp_SysEmailTemplate_Select]
	@email_template_id INT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SELECT 
			email_template_id,
			title,
			category_code,
			email_from,
			email_to,
			email_cc,
			email_bcc,
			email_reply_to,
			subject,
			body,
			is_html,
			created_date,
			created_by,
			(SELECT first_name + ' ' + last_name FROM cooperator WHERE cooperator_id = et.created_by) AS created_by_name,
			modified_date,
			modified_by,
			(SELECT first_name + ' ' + last_name FROM cooperator WHERE cooperator_id = et.modified_by) AS modified_by_name,
			owned_date,
			owned_by
		FROM 
			email_template et
		WHERE
			email_template_id = @email_template_id
	END TRY
	BEGIN CATCH
		INSERT INTO 
			dbo.sys_db_error
		VALUES
		  (SUSER_SNAME(),
		   ERROR_NUMBER(),
		   ERROR_STATE(),
		   ERROR_SEVERITY(),
		   ERROR_LINE(),
		   ERROR_PROCEDURE(),
		   ERROR_MESSAGE(),
		   GETDATE());
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SysEmailTemplate_Update]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================================
-- Author		: Benjamin Haag
-- Create Date  : 6/17/2021
-- Description  : Returns a list of all existing email templates.
-- Parameters    
--                Name          Description
--                ====          ===========
--
-- Remarks      :
-- ========================================================================
CREATE PROCEDURE [dbo].[usp_SysEmailTemplate_Update]
    @out_error_number INT = 0 OUTPUT,
	@email_template_id INT,
	--@title nvarchar(120),
	--@category_code nvarchar(3),
	@email_from nvarchar(200),
	--@email_to nvarchar(1000),
	--@email_cc nvarchar(1000),
	--@email_bcc nvarchar(1000),
	--@email_reply_to nvarchar(200),
	@subject nvarchar(500),
	@body nvarchar(max),
	@is_html nvarchar(1)
	--@created_date datetime2(7),
	--@created_by int,
	--@modified_date datetime2(7),
	--@modified_by int
	--@owned_date datetime2(7),
	--@owned_by int
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @ADMIN_COOPERATOR_ID INT = 48
	BEGIN TRY
		UPDATE
			email_template 
		SET
			--title = @title,
			--category_code = @category_code,
			email_from = @email_from,
			--email_to = @email_to,
			--email_cc = @email_cc,
			--email_bcc = @email_bcc,
			--email_reply_to = @email_reply_to,
			subject = @subject,
			body = @body,
			is_html = @is_html,
			modified_date = GETDATE(),
			modified_by = @ADMIN_COOPERATOR_ID
		WHERE
			email_template_id = @email_template_id
	END TRY
	BEGIN CATCH
		SELECT @out_error_number=ERROR_NUMBER()
		INSERT INTO 
			dbo.sys_db_error
		VALUES
		  (SUSER_SNAME(),
		   ERROR_NUMBER(),
		   ERROR_STATE(),
		   ERROR_SEVERITY(),
		   ERROR_LINE(),
		   ERROR_PROCEDURE(),
		   ERROR_MESSAGE(),
		   GETDATE());
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SysEmailTemplates_Select]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================================
-- Author		: Benjamin Haag
-- Create Date  : 6/17/2021
-- Description  : Returns a list of all existing email templates.
-- Parameters    
--                Name          Description
--                ====          ===========
--
-- Remarks      :
-- ========================================================================
CREATE PROCEDURE [dbo].[usp_SysEmailTemplates_Select]
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SELECT 
			email_template_id,
			title,
			category_code,
			email_from,
			email_to,
			email_cc,
			email_bcc,
			email_reply_to,
			subject,
			body,
			is_html,
			created_date,
			created_by,
			modified_date,
			modified_by,
			owned_date,
			owned_by
		FROM 
			email_template
	END TRY
	BEGIN CATCH
		INSERT INTO 
			dbo.sys_db_error
		VALUES
		  (SUSER_SNAME(),
		   ERROR_NUMBER(),
		   ERROR_STATE(),
		   ERROR_SEVERITY(),
		   ERROR_LINE(),
		   ERROR_PROCEDURE(),
		   ERROR_MESSAGE(),
		   GETDATE());
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SysGroup_Insert]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_SysGroup_Insert]
	@out_error_number INT = 0 OUTPUT,
	@out_group_id INT = 0 OUTPUT,
	@group_tag NVARCHAR(20)
AS
BEGIN

	DECLARE @CONST_COOPERATOR_ID INT = 48
	DECLARE @CONST_IS_ENABLED NVARCHAR(1) = 'Y'

	BEGIN TRY
		SET NOCOUNT ON;
		INSERT INTO 
			sys_group
			(
				group_tag,
				is_enabled,
				created_date,
				created_by,
				owned_date,
				owned_by
			)
		VALUES
		(
			@group_tag,
			@CONST_IS_ENABLED,
			GETDATE(),
			@CONST_COOPERATOR_ID,
			GETDATE(),
			@CONST_COOPERATOR_ID
		)
		SET @out_group_id = CAST(SCOPE_IDENTITY() AS INT)
	END TRY
	BEGIN CATCH
		SELECT @out_error_number=ERROR_NUMBER()
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SysUser_Copy]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_SysUser_Copy]
	@out_error_number INT = 0 OUTPUT,
	@out_sys_user_id INT = 0 OUTPUT,
	@user_name nvarchar(50),
	@password nvarchar(2000),
	@cooperator_id INT
	
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ADMIN_COOPERATOR_ID INT = 48

	SET @cooperator_id = 180787

	BEGIN TRY
		-- ========================================================================
		-- USER
		-- ========================================================================
		INSERT INTO training.dbo.sys_user 
		(
		 user_name,
		 password,
		 is_enabled,
		 cooperator_id,
		 created_date,
		 created_by,
		 owned_date,
		 owned_by
		)
		SELECT
		
		 user_name,
		 password,
		 is_enabled,
		 @cooperator_id,
		 GETDATE(),
		 @ADMIN_COOPERATOR_ID,
		 GETDATE(),
		 @ADMIN_COOPERATOR_ID
		FROM
		sys_user
		WHERE 
			sys_user_id = 0




		-- ========================================================================
		-- DEFAULT GROUPS
		-- ========================================================================
		INSERT INTO 
			sys_group_user_map
			(
				sys_group_id,
				sys_user_id,
				created_date,
				created_by,
				owned_date,
				owned_by
  			)
			VALUES
			(
				2,
				@out_sys_user_id,
				GETDATE(),
				@ADMIN_COOPERATOR_ID,
				GETDATE(),
				@ADMIN_COOPERATOR_ID
			)

		INSERT INTO 
		sys_group_user_map
		(
			sys_group_id,
			sys_user_id,
			created_date,
			created_by,
			owned_date,
			owned_by
  		)
		VALUES
		(
			3,
			@out_sys_user_id,
			GETDATE(),
			@ADMIN_COOPERATOR_ID,
			GETDATE(),
			@ADMIN_COOPERATOR_ID
		)
	END TRY
	BEGIN CATCH
		SELECT @out_error_number=ERROR_NUMBER()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SysUser_Insert]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_SysUser_Insert]
	@out_error_number INT = 0 OUTPUT,
	@out_sys_user_id INT = 0 OUTPUT,
	@user_name nvarchar(50),
	@password nvarchar(2000),
	@cooperator_id INT
	
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ADMIN_COOPERATOR_ID INT = 48

	BEGIN TRY
		-- ========================================================================
		-- USER
		-- ========================================================================
		INSERT INTO sys_user 
		(
		 user_name,
		 password,
		 is_enabled,
		 cooperator_id,
		 created_date,
		 created_by,
		 owned_date,
		 owned_by
		)
		VALUES
		(
		 @user_name,
		 @password,
		 'Y',
		 @cooperator_id,
		 GETDATE(),
		 @ADMIN_COOPERATOR_ID,
		 GETDATE(),
		 @ADMIN_COOPERATOR_ID
		)
		SET @out_sys_user_id = CAST(SCOPE_IDENTITY() AS INT)

		-- ========================================================================
		-- DEFAULT GROUPS
		-- ========================================================================
		INSERT INTO 
			sys_group_user_map
			(
				sys_group_id,
				sys_user_id,
				created_date,
				created_by,
				owned_date,
				owned_by
  			)
			VALUES
			(
				2,
				@out_sys_user_id,
				GETDATE(),
				@ADMIN_COOPERATOR_ID,
				GETDATE(),
				@ADMIN_COOPERATOR_ID
			)

		INSERT INTO 
		sys_group_user_map
		(
			sys_group_id,
			sys_user_id,
			created_date,
			created_by,
			owned_date,
			owned_by
  		)
		VALUES
		(
			3,
			@out_sys_user_id,
			GETDATE(),
			@ADMIN_COOPERATOR_ID,
			GETDATE(),
			@ADMIN_COOPERATOR_ID
		)
	END TRY
	BEGIN CATCH
		SELECT @out_error_number=ERROR_NUMBER()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SysUser_Search]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_SysUser_Search] 
	@search_text NVARCHAR(200)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @sql_select NVARCHAR(2000)
	DECLARE @sql_where NVARCHAR(500)

	SET @sql_select = 'SELECT  
		user_name,
		password,
		is_enabled,
		cooperator_id,
		created_date,
		created_by,
		owned_date,
		owned_by
	FROM
		sys_user'

	IF LEN(TRIM(@search_text)) > 0
		BEGIN
			SET @sql_where = ' WHERE user_name LIKE ''%' + @search_text + '%'''
			SET @sql_select = @sql_select + @sql_where
		END

	EXECUTE sp_executesql @sql_select
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SysUser_Select]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_SysUser_Select] 
	@sys_user_id INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT  
		user_name,
		password,
		is_enabled,
		cooperator_id,
		created_date,
		created_by,
		owned_date,
		owned_by
	FROM
		sys_user
	WHERE
		sys_user_id = @sys_user_id
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SysUserGroups_Select]    Script Date: 8/6/2021 10:56:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_SysUserGroups_Select]
	@sys_user_id INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
		sys_group_user_map_id,
		sg.sys_group_id,
		sg.group_tag
	FROM 
		sys_group_user_map sgum
	JOIN
		sys_group sg
	ON
		sgum.sys_group_id = sg.sys_group_id
	WHERE
		sys_user_id = @sys_user_id
	ORDER BY 
		group_tag
END
GO
