USE [gringlobal]
GO
/****** Object:  View [dbo].[vw_table_fields]    Script Date: 12/7/2020 1:09:32 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_table_fields]
GO
/****** Object:  View [dbo].[vw_sys_table_fields]    Script Date: 12/7/2020 1:09:32 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_sys_table_fields]
GO
/****** Object:  View [dbo].[vw_sys_application]    Script Date: 12/7/2020 1:09:32 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_sys_application]
GO
/****** Object:  View [dbo].[vw_sys_application]    Script Date: 12/7/2020 1:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_sys_application]
AS
SELECT
		sys_application_id,
		sg.sys_group_id,
		sg.group_tag,
		code,
		title,
		description,
		url,
		color_code,
		image_file_name
	FROM
		sys_application sa
	JOIN
		sys_group sg
	ON
		sa.sys_group_id = sg.sys_group_id
	
GO
/****** Object:  View [dbo].[vw_sys_table_fields]    Script Date: 12/7/2020 1:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_sys_table_fields]
AS
SELECT table_name, field_name, field_type, field_purpose FROM sys_table st
JOIN
sys_table_field stf
ON
st.sys_table_id = stf.sys_table_id
WHERE table_name LIKE 'taxonomy%'

GO
/****** Object:  View [dbo].[vw_table_fields]    Script Date: 12/7/2020 1:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
CREATE VIEW [dbo].[vw_table_fields]
AS
SELECT 
	st.sys_table_id,
    table_name,
	stf.field_name,
	stfl.title,
	REPLACE(title, ' ', '') AS formatted_title
FROM
	sys_table st
JOIN
	sys_table_field stf
ON
	st.sys_table_id = stf.sys_table_id
JOIN
	sys_table_field_lang stfl
ON
	stf.sys_table_field_id = stfl.sys_table_field_id
WHERE
	table_name LIKE 'taxonomy%'
AND
	stfl.sys_lang_id = 1
GO
