USE [gringlobal]

--====================================================================================================
-- CODE_VALUE
--====================================================================================================
DELETE FROM code_value
WHERE value LIKE 'NRR%'

DECLARE	@return_value int

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_STATUS',
		@code_value = N'NRR_FLAG',
		@title = N'NRR Flag',
		@description = N'Web order request flagged as potential NRR'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_NOTE',
		@title = N'NRR Review Note',
		@description = N'NRR Review Note'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_INFO',
		@title = N'Request For Additional Information',
		@description = N'The NRR Committee has emailed the web order requestor to ask for additional information.'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_FLAG_HIST',
		@title = N'Order History Flag',
		@description = N'The requestor has a history of cancelled orders.'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_REJECT',
		@title = N'Web Order Rejected as NRR',
		@description = N'The web order request was determined to be an NRR, and set to Cancelled status.'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_APPROVE',
		@title = N'Web Order Approved',
		@description = N'The web order request was determined not to be an NRR, and was approved and returned to Submitted status.'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_FLAG_EMAIL',
		@title = N'Non-Official Email Address',
		@description = N'The requestor''s email address is neither .gov nor .edu.'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_FLAG_COOP',
		@title = N'Web Cooperator Flag',
		@description = N'The requestor has been flagged due to previous Non-Research Requests (NRR).'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_FLAG_GEN',
		@title = N'Genera Count Flag',
		@description = N'The request involves germplasm of more than one distinct genus.'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_FLAG_SITE',
		@title = N'Site Impact Flag',
		@description = N'The request would involve more than one site.'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_FLAG_USE',
		@title = N'Intended Use Flag',
		@description = N'The stated intented use of the requested germplasm suggests non-research intent.'
SELECT	'Return Value' = @return_value

EXEC	@return_value = [dbo].[usp_DataMgmtCode_Insert]
		@group_name = N'WEB_ORDER_REQUEST_ACTION',
		@code_value = N'NRR_REVIEW',
		@title = N'NRR Review Initiated',
		@description = N'A member of the NRR Review committee has begin reviewing the web order request.'
SELECT	'Return Value' = @return_value

--====================================================================================================
-- SYS_GROUP
--====================================================================================================
DELETE FROM sys_group
WHERE
	group_tag LIKE 'GGTOOLS%'
GO

INSERT INTO sys_group
	(group_tag,is_enabled,created_date,created_by,owned_date, owned_by)
VALUES
	('GGTOOLS_TAXONOMY','Y',GETDATE(),48,GETDATE(),48)
INSERT INTO sys_group
	(group_tag,is_enabled,created_date,created_by,owned_date, owned_by)
VALUES
	('GGTOOLS_ACCOUNTS','Y',GETDATE(),48,GETDATE(),48)
INSERT INTO sys_group
	(group_tag,is_enabled,created_date,created_by,owned_date, owned_by)
VALUES
	('GGTOOLS_SITE','Y',GETDATE(),48,GETDATE(),48)
GO

--====================================================================================================
-- SYS_APPLICATION
--====================================================================================================
DELETE FROM [dbo].[sys_application]
GO
SET IDENTITY_INSERT [dbo].[sys_application] ON 
GO
INSERT [dbo].[sys_application] ([sys_application_id], [code], [title], [description], [url], [color_code], [image_file_name], [sys_group_id], [application_icon]) VALUES (1, N'GGTOOLS_ACCOUNTS', N'GGTools Account Manager', N'Manage GRIN-Global users and roles, reset passwords, and assign and reassign GRIN-Global records', N'accountmanagement', N'purple', N'fa-users.png', 2930, N'fa-users.png')
GO
INSERT [dbo].[sys_application] ([sys_application_id], [code], [title], [description], [url], [color_code], [image_file_name], [sys_group_id], [application_icon]) VALUES (2, N'GGTOOLS_TAXONOMY', N'GGTools Taxonomy Editor', N'Create and edit taxonomical data, and run diagnostic reports', N'taxonomy', N'green', N'fa-tree.png', 2929, N'fa-tree.png')
GO
INSERT [dbo].[sys_application] ([sys_application_id], [code], [title], [description], [url], [color_code], [image_file_name], [sys_group_id], [application_icon]) VALUES (3, N'GGTOOLS_SITE', N'ARS-GRIN Site Manager', N'Manage ARS-GRIN site content', N'sitemanagement', N'red', N'fa-television.png', 2931, N'fa-television.png')
GO
SET IDENTITY_INSERT [dbo].[sys_application] OFF
GO

UPDATE 
	sys_application 
SET 
	sys_group_id = 
	(SELECT 
		sys_group_id 
	 FROM 
		sys_group 
	 WHERE 
		group_tag = sys_application.code)

SELECT *
FROM sys_application

--====================================================================================================
-- SYS_GROUP_USER_MAP
--====================================================================================================
DELETE FROM 
	sys_group_user_map
WHERE
	sys_group_id IN
	(SELECT sys_group_id FROM sys_group
	 WHERE group_tag LIKE 'GGTOOLS%')

INSERT INTO sys_group_user_map
(
	 sys_group_id,
	 sys_user_id,
	 created_date,
	 created_by,
	 owned_date,
	 owned_by
)
VALUES
(
	(SELECT sys_group_id FROM sys_group WHERE group_tag = 'GGTOOLS_ACCOUNTS'),
	488,
	GETDATE(),
	48,
	GETDATE(),
	48
)

INSERT INTO sys_group_user_map
(
	 sys_group_id,
	 sys_user_id,
	 created_date,
	 created_by,
	 owned_date,
	 owned_by
)
VALUES
(
	(SELECT sys_group_id FROM sys_group WHERE group_tag = 'GGTOOLS_TAXONOMY'),
	488,
	GETDATE(),
	48,
	GETDATE(),
	48
)

INSERT INTO sys_group_user_map
(
	 sys_group_id,
	 sys_user_id,
	 created_date,
	 created_by,
	 owned_date,
	 owned_by
)
VALUES
(
	(SELECT sys_group_id FROM sys_group WHERE group_tag = 'GGTOOLS_SITE'),
	488,
	GETDATE(),
	48,
	GETDATE(),
	48
)






SELECT *
FROM
	sys_group_user_map
WHERE
	sys_group_id IN
	(SELECT sys_group_id 
	 FROM 
		sys_group
	 WHERE 
		group_tag 
	 LIKE 'GGTOOLS%')

--=============================================================================
-- SYS_TABLE_LANG
--=============================================================================
INSERT INTO 
	sys_table_lang 
	(sys_table_id, sys_lang_id, title, description, created_date, created_by, owned_date, owned_by) 
VALUES 
	(19,
	1,
	'Citation',
	'Citation', 
	GETDATE(), 
	48,
	GETDATE(), 
	48
	)

INSERT INTO 
	sys_table_lang 
	(sys_table_id, sys_lang_id, title, description, created_date, created_by, owned_date, owned_by) 
VALUES 
	(48,
	1,
	'Literature',
	'Literature', 
	GETDATE(), 
	48,
	GETDATE(), 
	48
	)

INSERT INTO 
	sys_table_lang 
	(sys_table_id, sys_lang_id, title, description, created_date, created_by, owned_date, owned_by) 
VALUES 
	(77,
	1,
	'Family',
	'Family', 
	GETDATE(), 
	48,
	GETDATE(), 
	48
	)










	USE [training]
GO
DELETE FROM [dbo].[email_template]
GO
SET IDENTITY_INSERT [dbo].[email_template] ON 
GO
SET IDENTITY_INSERT [dbo].[email_template] OFF
GO



	