USE [gringlobal]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[accession_inv_attach_validation]') AND type in (N'U'))
ALTER TABLE [dbo].[accession_inv_attach_validation] DROP CONSTRAINT IF EXISTS [FK_accession_inv_attach_validation_accession_inv_attach]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[accession_inv_attach_validation]') AND type in (N'U'))
ALTER TABLE [dbo].[accession_inv_attach_validation] DROP CONSTRAINT IF EXISTS [DF__accession__image__03E3ACE3]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[accession_inv_attach_validation]') AND type in (N'U'))
ALTER TABLE [dbo].[accession_inv_attach_validation] DROP CONSTRAINT IF EXISTS [DF__accession__image__02EF88AA]
GO
/****** Object:  Table [dbo].[accession_inv_attach_validation]    Script Date: 8/28/2020 4:14:54 PM ******/
DROP TABLE IF EXISTS [dbo].[accession_inv_attach_validation]
USE gringlobal

/****** Object:  Table [dbo].[accession_inv_attach_validation]    Script Date: 8/28/2020 4:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accession_inv_attach_validation](
	[accession_inv_attach_validation_id] [int] IDENTITY(1,1) NOT NULL,
	[accession_inv_attach_id] [int] NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[created_by] [int] NOT NULL,
	[image_url_is_valid] [int] NULL,
	[image_thumbnail_url_is_valid] [int] NULL,
 CONSTRAINT [PK_accession_inv_attach_validation] PRIMARY KEY CLUSTERED 
(
	[accession_inv_attach_validation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accession_inv_attach_validation] ADD  DEFAULT ((-1)) FOR [image_url_is_valid]
GO
ALTER TABLE [dbo].[accession_inv_attach_validation] ADD  DEFAULT ((-1)) FOR [image_thumbnail_url_is_valid]
GO
ALTER TABLE [dbo].[accession_inv_attach_validation]  WITH CHECK ADD  CONSTRAINT [FK_accession_inv_attach_validation_accession_inv_attach] FOREIGN KEY([accession_inv_attach_id])
REFERENCES [dbo].[accession_inv_attach] ([accession_inv_attach_id])
GO
ALTER TABLE [dbo].[accession_inv_attach_validation] CHECK CONSTRAINT [FK_accession_inv_attach_validation_accession_inv_attach]
GO

/****** Object:  Table [dbo].[sys_application]    Script Date: 9/2/2020 9:29:04 AM ******/
DROP TABLE IF EXISTS [dbo].[sys_application]
GO
/****** Object:  Table [dbo].[sys_application]    Script Date: 9/2/2020 9:29:04 AM ******/
CREATE TABLE [dbo].[sys_application](
	[sys_application_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[title] [nvarchar](120) NOT NULL,
	[description] [nvarchar](500) NULL,
	[url] [nvarchar](2000) NULL,
	[color_code] [nvarchar](20) NULL,
	[image_file_name] [nvarchar](500) NULL,
	[sys_group_id] [int] NULL,
 CONSTRAINT [PK_sys_application] PRIMARY KEY CLUSTERED 
(
	[sys_application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


USE [gringlobal]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[taxonomy_folder_item_map]') AND type in (N'U'))
ALTER TABLE [dbo].[taxonomy_folder_item_map] DROP CONSTRAINT IF EXISTS [FK_taxonomy_folder_item_taxonomy_folder]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[taxonomy_folder_item_map]') AND type in (N'U'))
ALTER TABLE [dbo].[taxonomy_folder_item_map] DROP CONSTRAINT IF EXISTS [FK_taxonomy_folder_item_cooperator]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[taxonomy_folder]') AND type in (N'U'))
ALTER TABLE [dbo].[taxonomy_folder] DROP CONSTRAINT IF EXISTS [FK_taxonomy_folder_cooperator]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[taxonomy_folder_item_map]') AND type in (N'U'))
ALTER TABLE [dbo].[taxonomy_folder_item_map] DROP CONSTRAINT IF EXISTS [DF_taxonomy_folder_item_created_date]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[taxonomy_folder]') AND type in (N'U'))
ALTER TABLE [dbo].[taxonomy_folder] DROP CONSTRAINT IF EXISTS [DF_taxonomy_folder_created_date]
GO
/****** Object:  Table [dbo].[taxonomy_folder_item_map]    Script Date: 9/2/2020 5:17:37 PM ******/
DROP TABLE IF EXISTS [dbo].[taxonomy_folder_item_map]
GO
/****** Object:  Table [dbo].[taxonomy_folder]    Script Date: 9/2/2020 5:17:37 PM ******/
DROP TABLE IF EXISTS [dbo].[taxonomy_folder]
GO
/****** Object:  Table [dbo].[taxonomy_folder]    Script Date: 9/2/2020 5:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taxonomy_folder](
	[taxonomy_folder_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NOT NULL,
	[description] [nvarchar](max) NULL,
	[category] [nvarchar](50) NOT NULL,
	[note] [nvarchar](2000) NULL,
	[created_by] [int] NULL,
	[created_date] [datetime] NULL,
	[is_shared] [bit] NULL,
	[modified_by] [int] NULL,
	[modified_date] [datetime] NULL,
 CONSTRAINT [PK_taxonomy_folder] PRIMARY KEY CLUSTERED 
(
	[taxonomy_folder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taxonomy_folder_item_map]    Script Date: 9/2/2020 5:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taxonomy_folder_item_map](
	[taxonomy_folder_item_id] [int] IDENTITY(1,1) NOT NULL,
	[taxonomy_folder_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[item_key] [nvarchar(120)] NOT NULL,
	[created_by] [int] NULL,
	[created_date] [datetime] NULL,
 CONSTRAINT [PK_taxonomy_folder_item] PRIMARY KEY CLUSTERED 
(
	[taxonomy_folder_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[taxonomy_folder] ADD  CONSTRAINT [DF_taxonomy_folder_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[taxonomy_folder_item_map] ADD  CONSTRAINT [DF_taxonomy_folder_item_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[taxonomy_folder]  WITH CHECK ADD  CONSTRAINT [FK_taxonomy_folder_cooperator] FOREIGN KEY([created_by])
REFERENCES [dbo].[cooperator] ([cooperator_id])
GO
ALTER TABLE [dbo].[taxonomy_folder] CHECK CONSTRAINT [FK_taxonomy_folder_cooperator]
GO
ALTER TABLE [dbo].[taxonomy_folder_item_map]  WITH CHECK ADD  CONSTRAINT [FK_taxonomy_folder_item_cooperator] FOREIGN KEY([created_by])
REFERENCES [dbo].[cooperator] ([cooperator_id])
GO
ALTER TABLE [dbo].[taxonomy_folder_item_map] CHECK CONSTRAINT [FK_taxonomy_folder_item_cooperator]
GO
ALTER TABLE [dbo].[taxonomy_folder_item_map]  WITH CHECK ADD  CONSTRAINT [FK_taxonomy_folder_item_taxonomy_folder] FOREIGN KEY([taxonomy_folder_id])
REFERENCES [dbo].[taxonomy_folder] ([taxonomy_folder_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[taxonomy_folder_item_map] CHECK CONSTRAINT [FK_taxonomy_folder_item_taxonomy_folder]
GO
