@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.CitationHomeViewModel
@{
    ViewBag.Title = "Taxonomy: Citations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================================================================================== -->
<!-- TABBED VIEW -->
<!-- ============================================================================================== -->
<div class="box box-primary" style="padding:10px;">
    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-header with-border">
        <h3 class="box-title">Citation</h3>

        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active" style="background-color:#ebebeb;">
                    <a href="#tab_species" id="tab-select-species" title="species" class="selector-tab" data-toggle="tab" aria-expanded="true">Species</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_genus" id="tab-select-genus" title="genus" class="selector-tab" data-toggle="tab" aria-expanded="true">Genus</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_family" id="tab-select-family" title="family" class="selector-tab" data-toggle="tab" aria-expanded="false">Family</a>
                </li>
                <li class="" style="background-color:#ebebeb;">
                    <a href="#tab_search" id="tab-enter-search" title="" class="selector-tab" data-toggle="tab" aria-expanded="false">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_species">
                    <div class="xbox-body">
                        <div id="section-species">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_genus">
                    <div class="xbox-body">
                        <div id="section-genus">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_family">
                    <div class="xbox-body">
                        <div id="section-family">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_search">
                    <div class="xbox-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.DropDownListFor(x => x.SearchViewModel.Field1, Model.SearchViewModel.Fields, null, new { @class = "form-control" })
                                </div>
                                <div id="ddlSelectField2" class="col-md-5">
                                    @Html.TextBoxFor(x => x.SearchViewModel.Field2, new { @placeholder = "Enter a search term", @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <div class="btn-group btn-block">
                                        <button type="button" class="btn btn-primary btn-flat">ADD</button>
                                        <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Add With AND</a></li>
                                            <li><a href="#">Add With OR</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <br />
                                    <label>Query</label>
                                    <textarea rows="5" class="form-control"></textarea><br />
                                    <input type="button" id="btnSearch" value="Search" class="btn btn-primary pull-right" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="section-search-results" class="crop-search-results">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        DisplayRecords("species");
    });

    $(".selector-tab").click(function () {
        var id = $(this).attr('id');
        var action = $(this).attr('title');
        DisplayRecords(action);
    });

    $(document).on("click", "[id*='btnSearch']", function () {
        var value = $("#txtSearchText").val();
        var url = '@Url.Action("CitationSearch", "Taxonomy")';

        $.get(url, { searchText: value })
        .done(function (response) {
            $("#section-search-results").html(response);
        });
    });

    function DisplayRecords(category)
    {
        var section = "#section-" + category;
        var link = '@Url.Action("CitationList", "Taxonomy")';

        $.ajax(
            {
                type: 'POST',
                url: link,
                data: { category : category },
                success:
                    function (response) {
                        $(section).html(response);
                    },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
    }

</script>