@model USDA.ARS.GRIN.Admin.WebUI.ViewModels.Taxonomy.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
==================================================
MY FOLDERS
==================================================
-->
<h4>My Folders</h4>
@{Html.RenderAction("FolderList", "Taxonomy");}

<!--
==================================================
ANNUAL-REPORT TOTALS Convert to folders (CBH, 4/12/2021)
==================================================
-->
@{Html.RenderAction("FiscalYearSummary", "Taxonomy");}

<div id="section-folder-container">

</div>

<div>
</div>

<script type="text/javascript">

    $("#btnToggleFamily").click(function (e) {
        $('.box-family').boxWidget('expand');
    });

    $("#btnToggleGenus").click(function (e) {
        $('.box-genus').boxWidget('collapse');
    });

    /*
     * ==============================================================================================
     * DELETE FOLDER ITEM
     * ==============================================================================================
     */
    @*$(document).on("click", "[id*='btnDeleteItem']", function () {
            var btnId = $(this).attr('id');
            var controlIdString = btnId.split("_");
            var sectionFolderItemContainerId = "#section-folder-item-container-" + controlIdString[1];
            var folderId = controlIdString[1];
            var folderItemId = controlIdString[2];

            //e.preventDefault();

            var url = '@Url.Action("FolderItemDelete", "Taxonomy")';

            //DEBUG
            alert("URL TO FIRE IS " + url);


            $.get(url, { targetFolderId: folderId, itemId: folderItemId })
            .done(function (response) {
                $(sectionFolderItemContainerId).html(response);
            });
     });*@

    /*
     * ==============================================================================================
     * DELETE MULTIPLE FOLDER ITEMS
     * ==============================================================================================
     */
    @*$(document).on("click", "[id*='btnDeleteMultiple']", function(){
        var inputFolderId = 0;
        var valueArray = [];
        var sectionFolderContainerId = "section-folder-container-";
        var btnId = $(this).attr("id");

        inputFolderId = btnId.split("-")[1];

        var sectionFolderItemContainerId = "#section-folder-item-container-" + inputFolderId;

        $("#section-folder-container input:checked").each(function () {
            var id = $(this).attr("id");
            valueArray.push(id);
            }
        );

        url = '@Url.Action("FolderItemsDelete", "Taxonomy")';

        $.get(url, {folderId: inputFolderId, folderItemIdList: valueArray.toString() })
            .done(function (response) {
                $(sectionFolderItemContainerId).html(response);
        });
    });*@

    /*
     * ==============================================================================================
     * CHECK/UNCHECK ALL
     * ==============================================================================================
     */
    //$(function () {

    //    $(document).on("click", "[id*='btnCheckAll']", function () {
    //        $('.mailbox-messages input:checkbox').prop('checked', true);
    //    });

    //    $(document).on("click", "[id*='btnUnCheckAll']", function () {
    //        $('.mailbox-messages input:checkbox').prop('checked', false);
    //    });
    //});
</script>


